.Weather {
  margin: 20px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
  background-color: #ffffff;
  opacity: 0.9;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.btn-outline-primary {
  text-align: center;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.unit-link {
  cursor: default;
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temperatures {
  font-size: 13px;
}

.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}
